.body_block {
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* width: 100%; */
}


.add_to_wishlist{
  color:gray;
  margin-right: 10px;
  }
  .telegram{
    color: red;
    background-color: #de7d0b;
  }
.vacancy__header {
  /* padding-top: 1rem; */
  border-bottom: 1px solid #dee2e6;
   margin-bottom: 1.8rem;
  font-size: 1rem;
  height: 70px;
  /* padding-left: 1rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 1px 0 0 #eaeaea, 0 1px 0 0 #eaeaea inset;
  color: rgba(0,0,0,.5);

  /* background-color: #de7d0b; */
  display: flex;
  justify-content: space-between;

}

.body-block .vacancy__start {
  flex: 1;
}
.vacancy__start {
  display: flex;
  justify-content:center;
  color: inherit;
  align-items: center;
}

/* .close_btn {
display: flex;
align-items: center;
justify-content: center;
} */
a {
  transition: .3s linear;
  
}

.list__item__logo img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;

}
.list__item__logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.img_detail{
  margin-right: 13px;
}
.vacancy__header .list__item__end {
  flex-direction: unset;
  align-items: center;
}
.list__item__end {
  justify-content: unset;
  align-items: center;
  margin-left: 1.5rem;
  display: flex;
  color: var(--color_span);
}
.list__item__eye {
  margin-right: 0.5rem;

}

.vacancy__header .list__item__end a {
  margin-left: 0.8rem;
}
.list__item__end a {
  position: relative;
  z-index: 3;
  justify-content: center;
  color: var(--color_span_info);
  transition: .1s linear;
  display: flex;
  align-items: center;
}

.vacancy__info {
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 10px;
  color:var(--color_text);
  
}


.vacancy__title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.1rem;
    color: var(--color_title);
}

.vacancy__deadline {
  font-size: 0.9rem;
  color:var(--color_deadline);
  border: 1px solid currentColor;
  border-radius: 5px;
  padding: 0.3rem 1rem;
  display: inline-block;
  margin-right: 0.8rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.vacancy__deadline span{
  margin-left: 10px;
}
.company__industry {
  color:var(--color_text);
  font-size: 0.8rem;
  display: inline;
  margin-bottom: 3.5rem;
}

.company__industry a {
  color: inherit;
  border-bottom: 1px solid currentColor;
}

.company__industry:hover {
  color: blue;
  
}
.vacancy .tab__links {
  border-bottom: 1px solid #dee2e6;
}

.vacancy .tab__links, .vacancy__header, .vacancy__info {
  margin-left: 2rem;
  margin-right: 2rem;
}
 .tab__link:hover{
  color:var(--color_blue);
 }

.tab__link {
  color:var(--color_title);
  font-size: 0.9rem;
  font-weight: 600;
  border-bottom: 3px solid transparent;
  padding: 1rem 0.7rem;
  margin-right: 1rem;
  display: inline-block;
  cursor: pointer;
}
.active{
  border-bottom: 3px solid var(--color_blue);
  color:var(--color_blue);
}


.vacancy .content {
  position: relative;
}

.tab_content__item h4 {
  /* font-size: 1.4rem; */
  font-weight: 800;
  margin-bottom: 2rem;

}
h4{
    display: block;
    font-weight:800;
    margin: 0;
    color: var(--color_title);
    line-height: 1.2;
    font-size: 1rem;
}

/* @media (min-width: 1200px){
h4 {
    font-size: 1.5rem;
}} */

strong {
  font-weight: 500;
}

.tab_content__item ul {
  margin-bottom: 2rem;
  /* padding-left: 1.6rem; */
  line-height: 1.8rem;
}

.tab_content__item ul li{
  color: var(--color_title);
  font-size: 0.8rem;
}

.tab_content__item ul li:before {
  content: '-';
  margin-right: 0.5rem;
 
}

.tab_content__item .about li:before {
  content: '';
  margin-right: 0.5rem;
}
.tab_content__item p {
  margin-bottom: 2rem;
}
.tab-content__item .info {
  display: flex;
}
.tab-content__item .info__contact {
  padding: 0;
  
}
p {
  margin: 0;
}
.tab-content__item .info__contact li span {
  display: block;
  font-weight: 500;
  margin-bottom: 0.7rem;
  color: #000;
  
}
.subscribe_block {
  background: rgba(41,182,246,.05);
  box-shadow: 0 2px 0 #29b6f6;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0.8rem 2rem;
  margin: 4rem 0;
  font-weight: 500;
}
.close_btn{
  display: none;
}

@media (max-width: 1099px){
.close_btn {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.3rem;
  margin-right: 1rem;
  border-radius: 20%;
  border:1px solid var(--color_blue);
  color: white;
  background:var(--color_back);
}
.subscribe_block img {
  width: 4rem;
  height: 4rem;
}}
.subscribe_block img {
  /* margin-right: 1.6rem; */
width: 3.5rem;
height: 3.5rem;
object-fit: cover;
margin-top: 0;
}

.subscribe_block p {
  margin-bottom: 0;
  flex: 1;
}
.tab_content__item p {
  margin-bottom: 2rem;
}

.subscribe_block a {
  border-bottom: 1px solid currentColor;
}

.tab__buttons {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  position: absolute;
  bottom: 0;
}

.tab__buttons__item__print {
  color: #5b5b5b!important;
  display: flex;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 0.9rem;
  font-weight: 500;
  margin-right: 2.5rem;
  

}



.tab__buttons__item__complain {
  color: #e31717!important;
  display: flex;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 0.9rem;
  font-weight: 500;
  margin-right: 2.5rem;

}

.show{
  position: sticky;
    bottom: 2rem;
    left: 100%;
    display: flex;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}



.btn_blue {
  color: #fff;
  display: inline-flex;
  background: #0c4dde;
  color: #fff;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.2rem  1.3rem;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  line-height: 2.4rem;
  border-radius: 5px;
  cursor: pointer;
}

.print{
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.complain{
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.apply{
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.about li{
margin-bottom: 20px;
}

.info div h4{
  margin-bottom: 1rem;
}

.company_name{
  color: var(--color_span);
  font-weight: 500;
}