.body_block {
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.company .company__body {
  margin-top: 0;
  padding-top: 2rem;
}
.company__body {
  margin-top: -12rem;
  z-index: 2;
  position: relative;

}

.company .company__body__head {
  display: flex;
  margin-left: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}

.company .company__logo {
  margin:0 2rem 0 0;
}
.company__logo {
  width: 8rem;
  height: 8rem;
  min-width: 8rem;
  border-radius: 1rem;
  border: 1px solid #fff;
  justify-content: center;
  margin-bottom: 1.4rem;
  overflow: hidden;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
}

.company__logo img{
  width: 100%;
}
.company .company__body__text {
  padding-right: 1rem;
}
.company__body__text {
  position: relative;
  padding-right: 21rem;
}
.company__title {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
  color: var(--color_title);
}
h1{
  display: block;
  font-family: BrutalType,sans-serif;
  font-weight: 400;
  margin: 0;
  color: #000;
}


.company__industry {
  color:var(--color_text);
  font-size: 0.8rem;
  display: inline-block;
  margin-bottom: 3.5rem;
}

.company__industry a {
  color: inherit;
  border-bottom: 1px solid currentColor;
  margin-right:5px;
}
.company__industry a:hover{
border-bottom:1px solid var(--color_blue);
color:var(--color_blue);
}

.tab__link:last-child {
  margin-right: 0;
}

.tab__link--active {
  border-color: #0c4dde;
}
.tab__link {
  color:var(--color_title);
  font-size: 0.9rem;
  font-weight: 600;
  border-bottom: 3px solid transparent;
  padding: 0.7rem;
  margin: 0 1rem;
  display: inline-block;
  cursor: pointer;
  /*  */
  
}

.tab__links{

  border-bottom: 1px solid #dee2e6;
 
}


.active{
  border-bottom: 3px solid var(--color_blue);
  color:var(--color_blue);
}


.tab__link:hover{
  color:var(--color_blue);
 }